<div class="about">
  <div class="about-liquor about-text">

    <p>当サイトはお酒について語る場です。</p>
    <p>お酒が好きな方から興味がある方まで、</p>
    <p>ご自身の感じた事、伝えたい事、お好きなように語って下さい‼</p>
    <p>お酒好きによるお酒好きのためのサイトです。</p>
    <p>皆様の投稿をお待ちしております。</p>
  </div>
  <div class="about-liquor mb-4">
   <img src="/assets/whisky.jpeg" alt="" >
  </div>
</div>