<div class="about">
  <div class="about-liquor about-text">
    <h1>About</h1>
    <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
    <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
    <p>様々なバリエーションをご用意しております。</p>
    <p>全国へ発送できますので「いつ」でもご注文いただけます。</p>
    <p>皆様のご注文をお待ちしております。</p>
  </div>
  <div class="about-liquor">
   <img src="/assets/whisky.jpeg" alt="">
  </div>
</div>