<!--<div class="img-wrapper">-->
<!--  <div id="mainvisual"></div>-->
<!--</div>-->


<!--<ul class="flex">-->
<!--  <%# @liquors.each do |liquor| %>-->
<!--  <li class="item">-->
<!--    <%#= attachment_image_tag liquor, :image %>-->
<!--    <%#= link_to liquor_path(liquor) do %>-->
<!--    <div class="mask">-->
<!--      <div class="caption">-->
<!--        <h1><%#= liquor.name %></h1>-->
<!--        <p>¥<%#= (liquor.detail %></p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <%# end %>-->
<!--  </li>-->
<!--  <%# end %>-->
<!--</ul>-->

<!--<div class="text">-->
<!--  <%#= link_to '全てのお酒を見る', liquors_path, class:"btn btn-outline-dark" %>-->
<!--</div>-->
<h1>hoge</h1>