<link rel="assets" href="stylesheets/skippr.css" />
<div class="content">
  <div class="theTarget" class="mb-5">
    <div class="slide1"></div>
    <div class="slide2"></div>
    <div class="slide3"></div>
    <div class="slide4"></div>
  </div>

  <div class="row">
    <div class='container mt-5 text-center'>
      <p class='mt-5 display-4 p-3'>LIQUOR GENRES</p>

      <div class="col-md-12 mt-5">
        <%= render "/layouts/sidebar", genre: @genres %>
      </div>

      <%= link_to '全てのお酒を見る', users_liquors_path, class:"btn btn-outline-dark" %>
    </div>
  </div>
</div>