<div id="mypage-main-visual"></div>

<div class="container mt-0 mb-5">
  <h3>マイページ</h3>
  <div class="row my-4">
    <h6 class="ml-3 mt-1 mr-4 mb-0">登録情報</h6>
    <%= link_to '編集する', edit_users_users_path(@user), class:'btn btn-success py-0 px-5 mb-3' %>
  </div>

  <table class="table table-bordered ">
    <tr>
      <th>氏名</th>
      <td><%= "#{@user.name}" %></td>
    </tr>

    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr></tr>
  </table>

  <div class="row mb-3">
    <h5 class="mt-5 mr-3 mb-0 ml-3">投稿履歴</h5>
    <%= render 'users/liquors/index',liquors: @liquors %>
  </div>
</div>