<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5 mb-4">お酒一覧</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-borderless">
          <thead class="thead-light">
              <tr>
                 <th>画像</th>
                 <th>投稿者</th>
                 <th>説明文</th>
              </tr>
          </thead>
       <% @liquors.each do |liquor| %>
          <tbody>
              <tr>
                <td><%= attachment_image_tag liquor, :image %></td></br>
                <!--<td><u><a href="/admin/liquors/<%#= liquor.user.id %>"><%#= liquor.created_at.to_s(:slash_and_time) %></a></u></td>-->
                <td><%= liquor.name %></td>
                <td><%= liquor.detail %></td>
              </tr>
          </tbody>
       <% end %>
      </table>
    </div>
  </div>

</div>