// Place all the styles related to the users/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @charset "utf-8"

html {
  font-size: 100%;
}

body p{
  font-family: 'Kiwi Maru', serif;
  color: #2b2a27;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #2b2a27;
}

#mainvisual {
  height: 95vh;
  background-image: image-url('ジャンル画像(ウィスキー).jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.img-wrapper{
animation-name:fadeInAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity:0;
}

// @keyframes fadeInAnime{
//   from {
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//   }
// }


// .text {
//   text-align: center;
//   margin-bottom: 80px;

// }
// .text .site-title {
//   margin-bottom: 20px;
//   font-family: 'Kiwi Maru', serif;
// }

// .text .btn {
//   display: inline-block;
//   border: solid 1px #2b2a27;
//   font-size: 0.875rem;
//   padding: 18px 60px;
//   text-decoration: none;
// }

// .about {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 100px 0;
// }
// .about-item {
//   width: 40%;
//   text-align: center;
//   height: 130%;
// }
// .about-item h1, p {
//   margin-bottom: 40px;
//   font-family: 'Kiwi Maru', serif;
// }

// .flex {
//   display: flex;
//   margin-bottom: 60px;
//   margin-left: 20px;
//   margin-right: 20px;
// }

// .flex li {
//   width: 25%;
//   text-align: center;
// }

// .flex li img {
//   width: 100%;
//   height: 250px;
//   object-fit: cover;
//   vertical-align: bottom;
// }

// .item {
//   position: relative;
// }

// .item .caption {
//   font-size: 130%;
//   color: #fff;
//   padding-top: 80px;
// }

// .item .caption p {
//   color: #fff;
// }

// .item .mask {
// 	width:			100%;
// 	height:			100%;
// 	position:		absolute;
// 	top:			0;
// 	left:			0;
// 	opacity:		0;
// 	background-color:	rgba(0,0,0,0.4);
// 	-webkit-transition:	all 0.6s ease;
// 	transition:		all 0.6s ease;
// }

// .item:hover .mask {
//   opacity: 1;
// }

// @media screen and (max-width: 1100px){

//   .about {
//     flex-direction: column;
//     margin: 50px 0;
//   }
//   .about-item {
//     width: 100%;
//   }
//   .about-item img {
//     margin-top: 40px;
//   }
//   .item .masc {
//     opacity: 0;
//   }
// }


// @media screen and (max-width: 834px){
//   .text {
//     padding: 0 20px;
//   }

//   .flex {
//     flex-direction: column;
//   }
//   .flex li {
//     width: 100%;
//   }
// }