// Place all the styles related to the users/liquors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.count {
  font-size: 15px;
  font-weight: 600;
}

.paginate {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.page {
  margin: 0px 5px;
}

.next {
  margin: 0px 5px;
}

.last {
  margin-left: 5px;
}

#index-main-visual {
  height: 30vh;
  background-image: image-url('wine.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}
#show-main-visual {
  height: 30vh;
  background-image: image-url('whisky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px 60px 100px;
}

.flex-item li {
  width: 25%;
  text-align: center;
  padding: 0 10px 20px 10px;
}

.flex-item li a {
  text-decoration: none;
  color: gray;
}

.flex-item li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  vertical-align: bottom;
}

.flex-item li img:hover {

}

@media screen and (max-width: 834px){
  .text {
    padding: 0 20px;
  }

  .flex-item {
    margin: 0 20px 60px 20px;

  }
  .flex-item li {
  width: 50%;
  text-align: center;
  padding: 0 10px 20px 10px;
  }
}

input[type="number"] {
  width: 90px;
}