<div class="row">
  <% @genres.each do |genre| %>
    <div class="col-md-3 mt-2" style="text-align:center;">
      <div class="card-deck">
        <div class="card bg-dark text-white">
          <%= link_to users_liquors_path(genre_id: genre.id) do %>
            <%= attachment_image_tag　assets_path(genre, :image,  size: "200x200", fallback: "whisky.jpg") %>
          <% end %>
          <p class="card-title"><%= genre.name %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>