<div class="row">
  <% @genres.each do |genre| %>
    <div class="col-md-3" style="text-align:center;">
      <div class="card-deck">
        <div class="card">
          <%= link_to users_liquors_path(genre_id: genre.id) do %>
          attachment
            <%= attachment_image_tag(genre, :image, size: "200x150", fallback: "whisky.jpg") %>
          <% end %>
          <div class="card-body">
            <p class="card-title">[<%= genre.name %>]</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>