<ul class="thumb_list">
      <li class="thumb_item item_whisky">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="Whisky"></span><br>
        </span>
      </li>

      <li class="thumb_item item_brandy">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="Brandy"></span><br>
        </span>
      </li>

      <li class="thumb_item item_gin">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="Gin"></span><br>
        </span>
      </li>

      <li class="thumb_item item_vodka">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="Vodka"></span><br>
        </span>
      </li>

      <li class="thumb_item item_ram">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="Ram"></span><br>
        </span>
      </li>

      <li class="thumb_item item_tequila">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="Tequila"></span><br>
        </span>
      </li>

      <li class="thumb_item item_beer">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="Beer"></span><br>
        </span>
      </li>

      <li class="thumb_item item_sake">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="Sake"></span><br>
        </span>
      </li>

      <li class="thumb_item item_liquor">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="焼酎"></span><br>
        </span>
      </li>

      <li class="thumb_item item_cocktail">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="Cocktail"></span><br>
        </span>
      </li>

      <li class="thumb_item item_other">
        <span class="thumb_item_inner">
          <span class="svg"><img src="/images/genre_whisky.jpg" alt="その他"></span><br>
        </span>
      </li>
    </ul>